.title-feed{
    background: #f7f7f7;
    height: 50px;
    border-bottom: 1px solid lightgray;
    color: gray;
    text-align: center;
    font-size: 22px;
    width: 800px;
}
.feed-criteria{
    width: 1000px;
}
