<div class="show" *ngIf="show.source == 'facebook'">facebook
    <img src="https://graph.facebook.com/{{show.videoId}}/picture" /><br>
    <span>{{show.title}}</span><br>
    <span>{{show.views}} </span>
</div>
<div class="show" *ngIf="show.source == 'youtube'">youtube
    <iframe width="560" height="315" [src]="('https://www.youtube.com/embed/' + show.videoId) | safe" frameborder="0" allowfullscreen></iframe>
    <span>{{show.title}}</span><br>
    <span>{{show.views}} </span>
</div>
<div class="show" *ngIf="show.source == 'url'">url
    <img src="https://graph.facebook.com/{{show.videoId}}/picture" /><br>
    <span>{{show.title}}</span><br>
    <span>{{show.views}} </span>
</div>


