.main {
  display: flex;
  align-items: baseline;

    .cb-source{
        height: 13px;
        margin-left: 15px;
    }

    .lbl-source{
        text-transform: capitalize;
        width: 100%;
    }
}
